body {
    text-align: center;
    font-family: "Helvetica";
}

h1 {
    padding: 5px;
}

.nj-devils {
    text-transform: uppercase;
}

.sharks-primary-color {
    margin-left: 10px;
    fill:rgb(0,109,117);
}

.sharks-secondary-color {
    margin-left: 20px;
    fill:rgb(234,114,0);
}

.sj-sharks {
    text-transform: uppercase;
}

p {
    font-size: 20px;
}

.devils-primary-color {
    margin: 10px;
}

.devils-secondary-color {
    margin: 10px;
}

ul {
    list-style-position: inside;
}

li {
    margin: 10px
}