body {
    background-color: #E0F0FF;
    text-align: center;
}

ul {
    display: inline-block;
}

li {
    padding: 2px;
    border: 2px solid #000000;
    font-family: Helvetica;
    color: #ffffff;
    border-radius: 5px 5px;
    background-color: #6B8FB2;
    margin: 5px;
}

p {
    font-family: Helvetica;
    font-size: 1em;
}

a:hover {
  color: #F5FAFF;
  font-weight: bold;
}

