body {
    background-color: #E0F0FF;
    text-align: center;
}

h2 {
    font-family: Helvetica;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #4C6680;
}


#navbar {
    position: fixed;
    margin: -10px;
    left: 50%;
    margin-left: -250px;
}

#header {
    position: relative;
    top: -10px;
    background-color: #A3D1FF;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

ul {
    position: fixed;
    margin: 5.2em;
    display: inline-block;
}

li {
    display: inline;
    padding: 5px;
    border: 2px solid #000000;
    font-family: Helvetica;
    color: #ffffff;
    border-radius: 5px 5px;
    background-color: #6B8FB2
    margin: 5px;
}

p {
    font-family: Helvetica;
    font-size: 1em;
}

a:hover {
  color: #F5FAFF;
  font-weight: bold;
}

a:visited: {
    color: #FF0000;
}

#footer {
    clear: both;
    position: relative;
    bottom: -315px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 90px;
    background-color: #A3D1FF;
}
